* {
  box-sizing: border-box;
}

body {
  font: 13px Verdana, Helvetica, Arial, sans-serif;
}
h2 {
    display: block;
    padding-top: 45px;
    margin-top: -45px;
    font-size: 1.4em;
    line-height: 1.6;
    padding: 0.4em 0.5em;
    background: #f4f4f4;
    border-left: solid 5px #5b5b5b;
    border-bottom: solid 3px #d7d7d7;
}
